{% if card.cover.url %}
  {% assign cover = card.cover.url %}
  {% include captures/cover_url %}
{% else %}
  {% assign cover_url = false %}
{% endif %}
<div class="card" style="width: 100%">
  <div class="card-image-wrapper">
    <div
      class="card-image"
      style="opacity: .5;{% if cover_url %}background-image: url({{ cover_url }}){% endif %}"
      alt="cover for {{card.title}}"></div>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ card.url | relative_url }}">{{ card.title }}</a>
    </h5>
    <p class="card-types">
      {% if card.mediatypes %}
        {% for key in card.mediatypes %}
          {% include mediatype.html %}
          {% unless forloop.last %}
            /
          {% endunless %}
        {% endfor %}
      {% else %}
        <!-- legacy for non id tags -->
        {% assign mediatypes = card.mediatype | split: ', ' %}
        {% for mediatype in mediatypes %}
          {{ mediatype }}
          {% unless forloop.last %}
            /
          {% endunless %}
        {% endfor %}
      {% endif %}
    </p>
    <div class="card-text">
      {% if card.publication_date %}
        <span class="label">{% assign key="published" %}{% include t.html %} {{ card.publication_date }}</span>
      {% endif %}
    </br>
      {% if card.translation_date %}
        <span class="label">{% assign key="translated" %}{% include t.html %} {{ card.translation_date }}</span>
      {% endif %}
      <!-- {{ card.date | date: "%B %-d, %Y" }} -->
      {{ card.excerpt }}
    </div>
    {% if card.authors.size > 0 %}
      <p class="card-authors">
        <span class="label">
          {% assign key = "list of authors" %}{% include t.html %}
        </span>
        {% for author_slug in card.authors %}
          {% include author.html %}
        {% endfor %}
      </p>
    {% endif %}

    {% if card.editors.size > 0 %}
      <p class="card-editors">
        <span class="label">
          {% assign key = "list of editors" %}{% include t.html %}
        </span>
        {% for author_slug in card.editors %}
          {% include author.html %}
        {% endfor %}
      </p>
    {% endif %}

    <!-- <p class="card-tags">
    <span class="label">
    {% assign key="list of tags" %}{% include t.html %}
    </span>
    {% for key in card.tags %} 
    {% include mediatype.html %}
    {% unless forloop.last%}, {% endunless %}
    {% endfor %}
    </p> -->
    <a href="{{ card.url | relative_url }}" class="btn btn-block btn-primary">{% assign key = "go-to-lesson" %}{% include t.html %}</a>
  </div>
</div>