<div class="component lesson">
  <h3>{{component.title}}</h3>

  
  {{component.content}}

  {% assign sections = site.units|where:"parent",component.slug%}

  {% assign assignments = sections|where:"type","assignment"|sort: 'ordering' %}

  {% for section in assignments %}
    {% assign _section_unit_path = section.path | replace_first: '_units/','' | replace_first: '.md','' | split: '/' | first %}
    {% if _section_unit_path == _component_unit_path %}
    <section class='scrollspy'>
      <aside><b>assignment #{{section.ordering}}</b><br>{{section.title}}</aside>
      <div>
        <!-- {{_section_unit_path}} -->
        {% assign paragraphs = section.content | split: site.excerpt_separator %}
        <h3 class="excerpt">{{paragraphs[0] | markdownify}}</h3>
        <div class="contents">
          {{paragraphs[1] | markdownify }}
        </div>


      </div>
        
    </section>
    {% endif %}
  {% endfor %}

</div>
<script>
  // components.lessons.html
  // enrich document table with documents coming from lessons subunits. cfr 
  ranketwo.enrich([
    {% for section in sections %}
    {% for docid in section.documents %}
      {% assign docs = site.data.documents | where:"slug", docid %}
      {% if docs[0] %}{{ docs[0] | jsonify}}{% else %}{error: 'not-found', slug:'{{docid}}'}{% endif %}{% unless forloop.last %},{% endunless %}
    {% endfor %}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ], '{{component.path}}');
</script>