<div class="component assignment">
  <section>
  <h3>{{component.title}}</h3>
  {% assign excerpt = component.content | split: site.excerpt_separator | first %}

  <h4>
  {% assign key="rationale of this assignment" %}{% include t.html %}
  </h4>
  <blockquote>{{excerpt | markdownify}}</blockquote>

    <a href="{{component.url | relative_url}}">open</a>

    <!-- <aside><b>assignment #{{component.order}}</b><br>{{component.duration}}
      {% if component.cover %}
      <div class='image-wrapper'><img src='{{component.cover | relative_url}}'></div>


      {% endif %}
    </aside> -->

  </section>
</div>
