{% assign is_iframe = false %}
{% if component.type == 'clip' %}
  {% assign is_iframe = true %}
{% endif %}
{% if component.type == 'interactive' %}
  {% assign is_iframe = true %}
{% endif %}
{% if component.type == 'quiz' %}
  {% assign is_iframe = true %}
{% endif %}
<a class='anchor' id='c-{{component.slug}}'></a>
<div class='component-wrapper {{component.type}} scrollspy {%if component.type == "interactive" %}full-height{% endif %}'>
  <div class='lines'>
    <div class="line left"></div>
    <div class="line right"></div>
    <!-- <div class='line top'></div> -->
    {% unless component.order and component.order != 1 %}
        <div class='type'>{% assign key = component.type %}{% include t.html %}<a class='component--size' href='{{ "structure-of-teaching-modules" | relative_url}}#small--animation--quiz'>S</a></div>


      {% endunless %}
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-8'>
        {% include component.{{component.type}}.html %}
      </div>
      <div class='col-sm-4'>
        {% if is_iframe %}
        <h3><a class='component--size' href='{{ "structure-of-teaching-modules" | relative_url}}#small--animation--quiz'>S</a> {{component.title}}</h3>
        {% endif %}
        {% if component.size %}
        <div class='component--metadata'>
          <div class='component--metadata--duration'>{{component.duration}}</div>
          <div class='component--metadata--size'>{{component.size}}</div>
        </div>
        {% endif %}

        {% if is_iframe %}
        <div class='caption'>
          {{component.content | markdownify }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if component.documents %}
<script>
  // script for generic components.
  // enrich document table with documents coming from component documents. cfr
  ranketwo.enrich([
    {% for docid in component.documents %}
      {% assign docs = site.data.documents | where:"slug",docid %}
      {% if docs[0] %}{{ docs[0] | jsonify}}{% else %}{error: 'not-found', slug:'{{docid}}'}{% endif %}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ], '{{component.path}}');
</script>
{% endif %}
