{% assign iframe = site.data.iframes | where: "id", component.iframe | first %}
{% if iframe.thumbnail %}
  {% assign cover = iframe.thumbnail %}
  {% include captures/cover_url %}
{% endif %}
<div class="component iframe {{iframe.type}} {{iframe.bgcolor}} {{iframe.fgcolor}}">
  {% if iframe %}
    <div class='iframe-wrapper {{iframe.aspectratio}}'>
      <div class='inner' id='iframe-{{iframe.id}}' style='background-image:url({{cover_url}})'>
        <div class='iframe-wrapper--toggler'><img src='{{ "assets/images/play-button.svg" | relative_url }}'/></div>
      </div>

    </div>
    {% assign document = iframe %}
    {% include reference.html %}
  {% else %}
    <div class='iframe-wrapper'>
    not found.
    </div>
  {% endif %}
</div>

<script>
  window.addEventListener('DOMContentLoaded', function() {
    window.ranketwo.commons.buildIframeEventHandler('#iframe-{{iframe.id}}', '{{iframe.src}}', '{{iframe.type}}');
  });
</script>
