<div class="component lesson">
  <h3>{{component.title}}</h3>

  
  {{component.content}}

  {% assign sections = site.units|where:"parent",component.slug %}

  {% assign assignments = sections|where:"type","assignment"|sort: 'ordering' %}

  {% for section in assignments %}
    <section class='scrollspy'>
      <aside><b>assignment #{{forloop.index}}</b><br>{{section.title}}</aside>
      <div>
        {% assign paragraphs = section.content | split: site.excerpt_separator %}
        <h3 class="excerpt">{{paragraphs[0]}}</h3>
        <div class="contents">
          {{paragraphs[1] | markdownify }}
        </div>


      </div>
        
    </section>
  {% endfor %}

</div>
<script>
  // enrich document table with documents coming from lessons subunits. cfr 
  ranketwo.enrich([
    {% for section in sections %}
    {% for docid in section.documents %}
      {% assign docs = site.data.documents | where:"id",docid %}
      {{ docs[0] | jsonify}}{% unless forloop.last %}},{% endunless %}
    {% endfor %}
    {% endfor %}
  ]);
</script>