<footer class='bt-glitch-3'>
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-sm-6">Copyright © <a href='https://wwwen.uni.lu/' target='_blank'>Université du Luxembourg</a> ({{ site.time | date: '%Y' }}). All rights reserved. </div>
    </div>

    <div class="row extra-spacing bt-glitch-1 extra-padding">
      <div class="col-md-6 col-sm-6">Made with ❤ at <a href='https://c2dh.uni.lu/' target='_blank'>C2DH</a> (v. <a href='https://github.com/C2DH/ranketwo' target='_blank'>{{site.github.build_revision | slice: 0, 7}}</a>)</div>
    </div>
  </div>
</footer>
