<footer class='bt-glitch-3'>
  <div class="container">

    <div class="row">
      <div class="col-6 col-sm-6">
        <p>
          <a {% if page.lang == site.default_lang %} href='{{"/who-we-are/" | relative_url}}' {% else %} href="{{page.lang | relative_url}}/who-we-are/"{% endif %}>Who we are</a>
          <br>
          <a {% if page.lang == site.default_lang %} href='{{"/contact-us/" | relative_url}}' {% else %} href="{{page.lang | relative_url}}/contact-us/"{% endif %}>Contact us</a>
          <br>
          <a {% if page.lang == site.default_lang %} href='{{"/legal-notice/" | relative_url}}' {% else %} href="{{page.lang | relative_url}}/legal-notice/"{% endif %}>Legal Notice</a>
        </p>
      </div>
      <div class="col-6 col-sm-6">
        <p>
          <a {% if page.lang == site.default_lang %} href='{{"/lessons/" | relative_url}}' {% else %} href="{{page.lang | relative_url}}/lessons/"{% endif %}>{% assign key="Go to lessons"%}{% include t.html %}</a>
          <br>
          <a {% if page.lang == site.default_lang %} href='{{"/teaching-aids/" | relative_url}}' {% else %} href="{{page.lang | relative_url}}/teaching-aids/"{% endif %}>{% assign key="Teaching aids"%}{% include t.html %}</a>
          <br>
        </p>
      </div>
    </div>

    <div class="row bt-glitch-1 extra-padding">
      <div class="col-sm-12">
        A project initiated by <a href="https://www.c2dh.uni.lu/people/andreas-fickers" target='_blank'>Andreas Fickers</a>
        &mdash; Concept & coordination by <a href="https://www.c2dh.uni.lu/people/stefania-scagliola" target='_blank'>Stefania Scagliola</a>

        <br><br>

        Made with ❤ at <a href='https://c2dh.uni.lu/' target='_blank'>C2DH</a> (v. <a href='https://github.com/C2DH/ranketwo' target='_blank'>{{site.github.build_revision | slice: 0, 7}}</a>)
      <!-- <div class="col-sm-12">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
      <p>
      Copyright © <a href='https://wwwen.uni.lu/' target='_blank'>Université du Luxembourg</a> ({{ site.time | date: '%Y' }}). All rights reserved.
      </p>
      </div>
    </div>
  </div>
</footer>
