{% assign is_active = false %}
{% if page.link == link.href %}
  {% assign is_active = true %}
{% endif %}
{% if page.layout == link.active_layout %}
  {% assign is_active = true %}
{% endif %}

<li class='nav-item
  {% if page.layout == "unit" and link.active_layout %}
  pr-0 mr-0
  {% else %}
  {% if is_active %} active {% endif %}
  {% endif %}
  {% if forloop.first %} first {%endif%}
  {% if forloop.last %} last {%endif%}'>
  <a class='nav-link'
    {% if page.lang == site.default_lang %}
      href='{{link.href | relative_url}}'
    {% else %}
      href='{{page.lang | relative_url}}{{link.href}}'
    {% endif %}>{% assign key=link.title%}{% include t.html %}</a>

</li>
{% if page.layout == "unit" and link.active_layout %}
<li class='nav-item text-white px-0 mx-0'><span class='nav-link px-0 mx-0'>/</span></li>
<li class='nav-item pl-0 ml-0 active'><a class='nav-link'><span class='ellipsis'>{{page.title}}</span></a></li>
{% endif %}
