{% assign is_active = false %}
{% if page.link == link.href %}
  {% assign is_active = true %}
{% endif %}
{% if page.layout == link.active_layout %}
  {% assign is_active = true %}
{% endif %}

<li class='nav-item
  {% if is_active %} active {% endif %}
  {% if forloop.first %} first {%endif%}
  {% if forloop.last %} last {%endif%}'>
  <a class='nav-link'
    {% if page.lang == site.default_lang %}
      href='{{link.href | relative_url}}'
    {% else %}
      href='{{page.lang | relative_url}}{{link.href}}'
    {% endif %}>{% assign key=link.title%}{% include t.html %}
    {% if page.layout == "unit" and link.active_layout %}/#{{page.order}}{% endif %}</a>
</li>
