<div class="container">
  <nav class="navbar navbar-light bg-faded " style='margin-top: 20px;'>
      <!-- <a class="navbar-brand{% if page.link == "/" %} active{% endif %}"  {% if page.lang == site.default_lang %} href='{{"/" | absolute_url}}'' {% else %} href="{{page.lang | absolute_url}}/" {% endif %}>{{site.title}}</a> -->
      <a class="navbar-brand"  {% if page.lang == site.default_lang %} href='{{"/" | absolute_url}}'' {% else %} href="{{page.lang | absolute_url}}/" {% endif %}>{{site.title}}</a>
    <div>
      {% for lang in site.languages %}
        <a {% if lang == page.lang %}class='active'{% endif %} {% if lang == site.default_lang %} href='{{page.link | absolute_url}}' {% else %} href='{{lang | absolute_url}}{{page.link}}' {% endif %}>{{lang}}</a>
      {% endfor %}
    </div>
  </nav>
  
  <nav class="navbar navbar-light bg-faded navbar-last">
    <ul class="nav">
    {% for link in site.data.navigation.primary.links %}
      {%include link.html%}
    {% endfor %}
    </ul>

    <ul class="nav">
    {% for link in site.data.navigation.secondary.links %}
      {%include link.html%}
    {% endfor %}
    </ul>
  </nav>
</div>