$margin-1200px: 18%;
$margin-992px: 140px;
$margin-768px: 120px;

body{
  font-size: 13px;
  line-height: 1.5;
}



@media (min-width: 768px){
  body{
    font-size: 15px;
  }
  .container {
    width: auto;
    margin-right: 0;
    margin-left: $margin-768px;
  }

  .lines{
    // same as container margin left
    width: $margin-768px;
  }

  .component section aside{
    width: 100px;
    left: -120px;
  }

  #table-of-contents-wrapper {
    top: 255px; // media stuff
    background: red;
  }
}



@media (min-width: 992px){
  body{
    font-size: 15px;
  }
  .container {
    width: auto;
    margin-right: 0;
    margin-left: $margin-992px;
  }

  .lines{
    // same as container margin left
    width: $margin-992px
  }

  .component section aside{
    width: 120px;
    left: -140px;
  }
}



@media (min-width: 1200px){
  body{
    font-size: 15px;
  }


  .container {
    width: auto;
    margin-right: 0;
    margin-left: $margin-1200px;
  }

  .lines{
    // same as container margin left
    width: $margin-1200px;
  }
}
