---
---

$black: #151515;
$almost-black: #1C090B;
$light-grey: ligh­ten­($almost-black, 30%);
$yellow: #FAF54F;
$almost-white: #FCF4D9;
$white: #ffffff;

body{
  background: $white;
  color: $almost-black;
  font-family: 'Work Sans', sans-serif;
}


footer{
  color: grey;
  margin-top: 4rem;
}


li.active a, a.active{
    background-color: cyan;
  }

a{
    color: $black;
}



/* ID speecific */
#table-of-contents-wrapper{
  position: absolute;
  top: 255px; // media stuff
  z-index: -1;
  min-height: 300px;
  right: 0;
  left: 0;
}

.navbar{
  padding: 2rem 0;

  ul li{
    padding: 0 1rem;
  }


}

.excerpt{
  font-size: 2em;
  margin-top: 2em;
}


#contents > p > div.placeholder {
  margin: 2em;
  background: #ccc;
}


/* clip */
section{
  background: #ddd;
  .playposit-wrapper{
    height: 300px;
    background: $almost-black;
  }
}
.component{
  margin-top: 1em;
  position: relative;

  .lines{
    position:absolute;
    left:0;top:0;bottom:0;width: 9px;
    background: #00FFFF;
    border-left: 3px solid #FF00FF;
  }
  .multiplied{
    position:absolute;
    left:3px;top:0;bottom:0;width: 2px;
    background-color: #0000FF
  }
}

