.collapsible-content{
  transition: height .24s ease-in-out;

  overflow: hidden;

  &.active{

  }
}

.assignment--briefing-section--line,
.assignment--briefing-section--toggler{
  border-bottom: 1px solid;
}

.assignment--briefing-section--contents{
  //padding: 15px 0;
}
