/* clip */
.component {
  h4{
    font-size:inherit;
    font-weight: bold;
    margin-top: 2em;
  }
  .iframe-wrapper{
    background: $almost-black;
    padding-top: 75%;
    position: relative;

    &.aspect-16-9{
      padding-top: 56.25%;
    }

    > .inner{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  section{
    position: relative;
    margin-top: 25px;

    h3.excerpt{
      font-weight: bold;
      font-size:inherit;
      line-height: inherit;
    }

    aside{
      position: absolute;
      left: -220px;
      text-align: right;
      width: 200px;
      top: 0;
      // font-weight: bold;

      .image-wrapper img{
        width: 100%;
      }
    }
  }
}

.component.clip{
  padding-top: 10px;
  h3{
    font-weight: bold;
    font-size:inherit;
    line-height: inherit;
  }



}



.component-wrapper{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  position: relative;

  &.clip, &.quiz, &.interactive{
    margin-top: 2px;
    margin-bottom: 0px;
    background-color: #e0e0e0;
    padding-bottom: 10px;

    .caption{
      // font-size: .8em;
      margin: 1em 0;
    }

    background-color: $almost-black;

    h3{
      color: $white;
      margin-top: 30px;
      font-size: inherit;
      // font-weight: bold;
      padding-bottom: 25px;
      margin-bottom: 15px;
      position: relative;
    }

    h3::after{
      position:absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 50px;
      border: 1px solid cyan;
    }

    div.caption p{
      color: $almost-white;
    }
  }

  &.quiz, &.interactive {
    margin-top: 30px;
    background-color: #d0d0d0;

    h3{
      color: $almost-black;
    }
    h3::after{
      border-color: magenta;
    }
    div.caption p{
      color: $almost-black;
    }
  }

  // &.introduction{
  //   h2, h3 {
  //     font-weight: bold;
  //     font-size:inherit;
  //     line-height: inherit;
  //   }
  // }

  .component--size{
    position: absolute;
    right:0;
    border: 2px solid #1C090B;
    height: 25px;
    top: -2px;
    padding: 0 5px;
    font-weight: bold;
    background-color: white;
  }

}
