/* clip */
.component {


  h4{
    font-size:inherit;
    font-weight: bold;
    margin-top: 2em;
  }
  .iframe-wrapper{
    background: $almost-black;
    padding-top: 75%;
    position: relative;

    &.aspect-16-9{
      padding-top: 56.25%;
    }

    > .inner{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &:hover .iframe-wrapper--toggler{
      opacity: 1;
      animation-name: pulse;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
  }

  .iframe-wrapper--toggler{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    opacity: .8;
    transition: all .2s ease-in-out;
    img{
      width: 100%;
    }
  }

  section{
    position: relative;
    margin-top: 25px;

    h3.excerpt{
      font-weight: bold;
      font-size:inherit;
      line-height: inherit;
    }

    aside{
      position: absolute;
      left: -220px;
      text-align: right;
      width: 200px;
      top: 0;
      // font-weight: bold;

      .image-wrapper img{
        width: 100%;
      }
    }
  }
}



.component.iframe{
  .reference{
    margin-top: 1rem;
  }

  .iframe-wrapper > .inner{
    background-size: cover;
  }

  &.vimeo .reference p{
    color: #e0e0e0;
  }
}

.component.clip{
  padding-top: 10px;
  h3{
    font-weight: bold;
    font-size:inherit;
    line-height: inherit;
  }



}

.component.workshop{
  img {
    max-width: 100%;
  }
}

.component.workshop-content{
  .time {
    background-color: $almost-white;
    padding-left: 10px;
    margin: 1rem 0;
  }

  h4{
    margin-top: 1em;
  }
}

.component-wrapper{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  position: relative;



  &.clip, &.quiz, &.interactive, &.workshop{
    border-top: 1px solid blue;
    margin-bottom: 0px;
    padding-bottom: 0;
    background-color: #070f13;

    .lines .type{
      color: $white;
    }

    .caption{
      // font-size: .8em;
      margin: 1em 0;
    }


    h3{
      color: $white;
      margin-top: 0px;
      font-size: 1.25em;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      position: relative;
      line-height: 1.5;
    }

    h3::after{
      position:absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 50px;
      border: 1px solid cyan;
    }

    div.caption{
      p, li{
        color: $almost-white;
      }
    }
  }

  &.workshop{
    padding-bottom: 2rem;
  }

  &.quiz, &.interactive {
    // margin-top: 30px;
    background-color: #d0d0d0;

    h3{
      color: $almost-black;
    }
    h3::after{
      border-color: magenta;
    }
    div.caption p{
      color: $almost-black;
    }
  }


  &.assignments {
    background-color: transparent;
    border-top: 2px solid magenta;

    h3.assignments-title{
      margin-top: 0px;
      font-size: 1.25em;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      position: relative;
      line-height: 1.5;
    }

    h3.assignments-title::after{
      position:absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 50px;
      border: 1px solid cyan;
    }

    .mosaic {
      img {
        float: left;
        margin: 5px;
        height: 200px;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    iframe.imgur-embed-iframe-pub {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  // &.introduction{
  //   h2, h3 {
  //     font-weight: bold;
  //     font-size:inherit;
  //     line-height: inherit;
  //   }
  // }

  .--component--size{
    position: absolute;
    right:0;
    border: 2px solid #1C090B;
    height: 25px;
    top: -2px;
    padding: 0 5px;
    font-weight: bold;
    background-color: white;
  }

}

.component--size{
  display: inline-block;
  font-weight: normal;
  padding: 0 .25rem;
  border-radius: 1rem;
  line-height: 1.25em;
  font-size: 1rem;
  // border-bottom: 2px solid;
  box-shadow: 1px 1px magenta, -1px -1px cyan;
  background-color: white;
  color: $almost-black;
  border: 1px solid $almost-black;
  min-width: 1.25em;
  text-align: center;

  &.big{
    font-size: 1.25rem;
    min-width: 2rem;
    border-radius: 2rem;
  }

  &.size-medium{
    border-width: 2px;
    box-shadow: 2px 2px magenta, -2px 0px blue;
  }
  &.size-large{
    border-width: 4px;
    min-width: 2.25rem;
    box-shadow: 4px -1px magenta, -3px -2px blue, -2px 4px cyan;
  }
}
