$navbar-mobile-height: 380px;
// navbar mobile
#nav-mobile--site-title{
  line-height: 20px;
  padding-left: 15px;
  > span{
    background: cyan;
    color: $almost-black;
  }
}
#nav--mobile{
  position: fixed;
  left: 0;
  z-index: 1060;
  background: linear-gradient(to top, rgba(18, 194, 233, .9), rgba(196, 113, 237, .9), rgba(246, 79, 89, .9));
  top: -$navbar-mobile-height;
  height: $navbar-mobile-height  + 50px;
  width: 100%;
  transition: transform .21s ease-in-out;

  box-shadow: 0 1px cyan, inset 0px -1px 0px magenta;
  border-bottom: 1px solid blue;

  &.active{
    transform: translate(0, $navbar-mobile-height);
  }

  .navbar-brand{
    padding: 7px 0 5px 5px;
    background: transparent;
    > img{
      height: 40px;
    }
  }

  .bottom{
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 7px;
    right: 14px;
    overflow: hidden;

  }

  .toggler{
    position:absolute;
    top: 10px;
    left: 50%;
    height:30px;
    width: 60px;
    margin-left: -30px;
    overflow: hidden;
    background-color: transparent;
    color: $almost-black;
    border: 2px solid $almost-black;
    text-align: center;

    > span{
      display: block;
      line-height: 23px;
      border-bottom: 2px solid $almost-black;
    }
  }

  ul.languages{
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;

    li.nav-item{

      display: inline-block;

      .nav-link{
            padding: 2px 4px;
      }
    }
    li.nav-item.active .nav-link{
        color: $almost-black;
    }
  }

  > ul.navbar-nav{
    position: absolute;
    border-top: 2px solid;
    top: 50px;

    &.left{
      left: 15px;
      right: 50%;

    }

    &.right{
      right: 15px;
      left: 50%;

    }
    li.nav-item.active{
      border-top-color: transparent;
    }
    li{

      a{
        padding-left: 15px;
        padding-right: 15px;

      }
    }

  }

}

@media (min-width: 768px) {
  #nav--mobile{
    display: none;
  }
}
