.Collection__card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow 0.5s ease-in-out;
  border-top: 0px solid transparent;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}

.Collection__card img {
  max-width: 100%;
}

.Collection__card span {
  max-width: 80%;
  display: inline-block;
  background: rgba(149, 157, 165, 0.2);
  border-radius: 2px;
  padding: 0 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8em;
}
