
#index--headline {

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 90vh;
  width: 50%;
  transform: skew(-6deg) rotate(-6deg);
  > span{
    text-shadow: -2px -2px 0 #D53A33, 2px 2px 0 white;
    border-right: 5px solid magenta;
    background: cyan;
  }
  font-size: 3em;
}



body.index{
  .slide-background{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: $almost-black;
  }
  #index--headline-wrapper{
    position: absolute;
    top: 40%;
    left:0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
  }

  .slide{
    display:none;
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    overflow: hidden;


    &.odd {
      right:50%;
    }

    &.even {
      left:50%;
    }
  }

  .slide > video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index:1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .slide > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    z-index:2;
    background: linear-gradient(to top, rgba(18, 194, 233, $index-bg-transparency), rgba(196, 113, 237, $index-bg-transparency), rgba(246, 79, 89, $index-bg-transparency));
  }

  .slide > .overlay-dotted {
    // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAF0lEQVQYV2NkYGD4z8DAwMgABXAG8QIAQOoBBeYwAr0AAAAASUVORK5CYII=);
    // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQYV2NkYGD4z8DAwMgAI0AMDA4AI3EBBMY7CTgAAAAASUVORK5CYII=);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFElEQVQYV2NkYGD4z8DAwMjIAAUADikBA/gvnngAAAAASUVORK5CYII=);
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    z-index:3;
  }

  .slide > figcaption{
    position: absolute;
    bottom: 10%;
    color: white;
    z-index: 4;
    left: 0;
    right: 0;
  }






  // nav color change
  li.nav-item{

    a.nav-link > span {
      color: $white;
    }

    a.nav-link:hover{
      & > span {
        color: $almost-black;
      }
    }
  }

  li.nav-item.active{
    color: $almost-black;

    a.nav-link > span{
      color: $almost-black;
    }
    // a.nav-link::before{
    //     background: magenta;
    // }
  }
}

#index--units-wrapper {


padding: 2em 0 2em 0;
background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background: linear-gradient(to top, lime, hsla(180, 30%, 50%, 1));
}
