#index--headline-wrapper{
  position: absolute;
  top: 20%;
  left:0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
}

#index--headline {
  width: 100%;
  font-size: 2em;
  transform: skew(-6deg) rotate(-6deg);
  > span{
    // text-shadow: -1px -1px 0 #D53A33, 1px 1px 0 white;
    border-right: 5px solid magenta;
    // background: cyan;
    color: cyan;

  }
}

@media (min-width: 768px){
  #index--headline{
    font-size: 3em;
    width: 50%;
    > span{
      // text-shadow: -2px -2px 0 #D53A33, 2px 2px 0 white;
    }
  }
  #index--headline-wrapper{
    top: 40%;
  }
}


#index--units-wrapper {


padding: 2em 0 2em 0;
background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background: linear-gradient(to top, lime, hsla(180, 30%, 50%, 1));
}
