div.page.unit {
  margin-top: 250px;
  margin-bottom: 30px;
  h1{
    transform: skew(2deg) rotate(2deg);
    color: cyan;
  }
}

.Unit__caption {
  color: white;
}
.Unit__caption a {
  color: white;
  border-bottom: 1px solid cyan;
} 

.ellipsis{
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  white-space: nowrap;
}
/* ID speecific */
#table-of-contents-wrapper{
  position: absolute;
  top: 50px; // media stuff
  z-index: 100;
  min-height: 300px;
  right: 0;
  left: 0;
  pointer-events: none;

  .section.collapsible{
    background: rgba(255,255,255,.1);
    border: 1px solid $almost-white;
  }

  .section--icon .icon::before,
  .section--icon .icon::after{
    background-color: cyan;
  }

  h4{
    pointer-events: auto;
    font-weight: normal;
    font-size:inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    color: cyan;
  }

  ul {
    pointer-events: auto;
    margin:0;
    padding: 0;
    li{
      pointer-events: auto;
      list-style-type: none;
      position: relative;
      margin-bottom: 1rem;

      .lines{
        pointer-events: none;

        border-color: transparent;
        transition: border-color 0.2s ease-in-out;
      }
      .line.right{
          background-color: transparent;
      }
      .group{
        position:absolute;
        top:0;
        bottom:0;
        width: 10px;
        left:0;
        transform-origin:left top;
        transition: transform 0.2s ease-in-out;
      }
      a{
        pointer-events: auto;
        padding-left: 15px;
        display: block;
        font-size: 0.9em;
        color: $almost-white;
        border-bottom: none;
        &:hover{
          color: cyan
        }

      }
      &.active {
        .lines{
          border-color: #FF00FF;
        }
        .line.right{

          //background-color: $highlight;
        }
        a{
          background-color: transparent;
          color: cyan;
        }
      }
    }
  }

  &.fixed{
    position: fixed;
    transform: translateY(0px);

    h4{
      color: inherit;
    }
    .section.collapsible{
      background-color: #efefef;
      border-color: #efefef;
      border-bottom-color: blue;
    }

    .section--icon .icon::before,
    .section--icon .icon::after{
      background-color: blue;
    }

    ul li a {
      color: $light-grey;
    }
    ul li.active a{
      color: $almost-black;
    }
  }

}


@media (min-width: 768px){
  #table-of-contents-wrapper {
    top: 255px; // media stuff
    display: block;
  }
  #table-of-contents-wrapper.fixed {
      position: fixed;
      transform: translateY(-255px);
  }
}

.unit .assignments .lines {
  // medium
  border-left-width: 6px;
  .type {
    top: 250px;
  }
}

.unit .lines{
  position:absolute;
  left:0;top:0;bottom:0;
  border-left: 3px solid #FF00FF;
  width: 200px;

  .type-size{
    display: inline-block;
    font-weight: bold;
    padding: 0 .25rem;
    border-radius: 1rem;
    // border-bottom: 2px solid;
    box-shadow: 1px 1px magenta, -1px -1px blue;
    background-color: white;
    color: $almost-black;
    border: 1px solid $almost-black;
    min-width: 1.25rem;
    text-align: center;

    &.medium{
      border-width: 2px;
    }
  }
  .type{
    position: absolute;
    transform: translateX(100%) translateY(-159px) rotate(1deg);
    right: 170px;
    top: 50%;
    border: none;
    font-weight: 500;
    letter-spacing: 1px;
  }


  .line{
    position: absolute;

    &.left{
      left:0px;top:0;bottom:0;width: 1px;
      background-color: #0000FF
    }

    &.right{
      width: 4px;
      left: 1px;
      bottom: 0px;
      top: 0;
      background-color: #00FFFF;
    }
    &.top{
      left:-3px;top:-5px;height: 5px; width: 100%;
      background-color: $white;
      border-bottom: 2px solid $almost-black;
      border-top: 1px solid $light-grey;
    }

  }
}


.unit .type{
  border: 2px solid $almost-black;

  height: 25px;

  line-height: 20px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  > span{
    padding: 0 8px;
  }
}

.unit .briefing {
  p{
    font-size: 80%;
  }
  h2, h3, h4{
    font-size: inherit;
    text-transform: uppercase;
    font-weight: normal;
  }
  ol, ul{
      padding-left: 1rem;
      margin-bottom: .5rem;
      list-style-type: none;
      li{
        margin-bottom: 0.5rem;
        position: relative;
        font-size: 80%;
        &:before{
          content: "-";
          float: left;
          margin-left: -1rem;
          margin-top: -.2rem;
        }

        p{
          margin-bottom: .5rem;
        }
      }

  }
}

@media (min-width:768px) {
  .unit .lines .type{
    transform: translateX(50%) translateY(-50%) rotate(-89deg);

  }
}


.Unit__metadata{
  color: var(--bs-white)
}

.Unit__metadata a{
  color: var(--bs-white);
  border-bottom: 1px solid var(--bs-white);
}

.Unit__metadata span{
  color: cyan;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 1px;
}

.Unit__metadata span.date{
  color: var(--bs-white);
}