<!DOCTYPE html>
<html lang='{{ page.lang }}'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="Content-Language" content="{{ page.lang }}">
    <title>{% if page.title %}{{page.title}} · {% endif %}{{site.title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css?v=' | relative_url }}" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  {% include nav.html %}
  
  <script>
    function Ranketwo() {
      var that = this;
      this.docs = {};

      this.enrich = function(docs) {
        console.log('enrichDocumentsList', docs)
        for (var i=0,l=docs.length; i< l;i++){
          this.docs[docs[i].id] = docs[i];
        }
      }
    }
    
    window.ranketwo = new Ranketwo();
  
    {% if page.documents %}
  
    window.ranketwo.enrich([
      {% for docid in page.documents %}
        {% assign docs = site.data.documents | where:"id",docid %}
        {{ docs[0] | jsonify}}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]);
    // call this function on your specific places
    // window.documentList
  
    {% endif %}
  </script>

  {{content}}


  {% include footer.html %}

  <script src="{{ '/assets/js/d3.v4.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/runtime.js' | relative_url }}"></script>
</body>
</html>