<!DOCTYPE html>
<html lang='{{ page.lang }}'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="Content-Language" content="{{ page.lang }}">
    <title>{% if page.title %}{{page.title}} · {% endif %}{{site.title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css?v=' | relative_url }}" >
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body class='{{page.layout}}'>
  {% include nav.html %}
  {% include nav.mobile.html %}

  {{content}}

  {% assign documents = page.documents %}
  {% assign namespace = 'page' %}
  {% include scripts/enrich.html %}

  {% include footer.html %}

  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="{{ '/assets/js/d3.custom.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/ranketwo.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/ranketwo.commons.js' | relative_url }}"></script>


  <script src="{{ '/assets/js/runtime.js' | relative_url }}"></script>

  <script>
    window.addEventListener('DOMContentLoaded', function() {
      console.log('@DOMContentLoaded - transform links in ranketwo');
      window.ranketwo.transformLinks();

      var langDropdown = d3.select('#navbarDropdown');
      var langDropdownToggle = langDropdown.select('a.dropdown-toggle');
      var langDropdownMenu = langDropdown.select('div.dropdown-menu');

      langDropdownToggle.on('click', function () {
        var toggle = langDropdownMenu.classed('show');
        langDropdownMenu.classed('show', !toggle);
      })
    });
  </script>
</body>
</html>
