---
layout: default
---
{% assign headline = page.content | split: site.excerpt_separator | first | markdownify | replace: '<p>', '' | replace: '</p>', ''  %}
{% assign units = site.units | where:"layout","unit" | where:"lang", page.lang | sort: 'order' %}

{% assign videos = page.videos %}
<div id='index--slide-wrapper' class='wrapper with-gradient' style='height: 89%'>
  <div class='slide-background'></div>

  {% for video in videos %}
  {% assign pos = forloop.index | modulo: 2 %}

  <div class='slide' id='index--slide-{{video.id}}' dep='{% if pos == 0 %} even {% else %} odd {% endif %}'>
    <video  muted poster="{{ 'assets/videos'| relative_url }}/{{ video.id }}/poster.jpg" >
      <source src="{{ 'assets/videos'| relative_url }}/{{ video.id }}/source.mp4" type="video/mp4">
      <source src="{{ 'assets/videos'| relative_url }}/{{ video.id }}/source.webm" type="video/webm">
      <source src="{{ 'assets/videos'| relative_url }}/{{ video.id }}/source.ogv" type="video/ogg">
    </video>
    <div class='overlay'></div>
    <div class='overlay-dotted'></div>
    <figcaption>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-6 ml-auto'>
            {{video.caption | markdownify}}
          </div>
        </div>
      </div>
    </figcaption>
  </div>
  {% endfor %}

  <!-- <div class='slide' style='background-image: url({{ 'assets/images/bs-30-11-DW-Kultur-Salzburg-jpg.jpg' | relative_url }}); background-size:cover'></div> -->
  <div id='index--headline-wrapper'>
    <div class='container'>
      <h2 id="index--headline"></h2>
    </div>
  </div>


</div>

<div id='index--units-wrapper' class='wrapper bt-glitch'>
  <div class='wrapper-bait'>
    {% assign key="list of lessons" %}{% include t.html %}
  </div>
  <div class='container'>
    <section class="row">
        {% for card in units limit: 4 %}
          <div class='col-sm-6'>
            {% include card.html %}
          </div>
        {% endfor %}

    </section>
    <a href='{{ relative_url }}/teaching-modules' class="btn btn-block btn-primary btn-more">{% assign key='more lessons' %}{% include t.html %}</a>

  </div>
</div>

<script>
    var carousel;
    var TxtType = function(el, sentences, period) {
      this.sentences = sentences;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
      this.next = '';
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.sentences.length;
        var fullTxt = this.sentences[i];
        var nextIdx = i + 1 > this.sentences.length - 1? 0: i + 1;

        if (this.isDeleting) {
          this.txt = fullTxt.substring(0, this.txt.length - 1);

        } else {
          this.txt = fullTxt.substring(0, this.txt.length + 1);
        }
        var next = this.sentences[nextIdx].substring(0, this.txt.length);

        // console.log(this.txt,'\n', next);
        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 100 - Math.random() * 50;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
          delta = this.period;
          this.isDeleting = true;
        } else if (this.isDeleting && (this.txt === '' || this.txt === next)) {
          this.isDeleting = false;
          this.loopNum++;
          delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    function initTxtType() {
      console.log('@DOMContentLoaded: initTxtType()');
      new TxtType(document.getElementById('index--headline'), [
        {% for sentence in page.sentences %}
        "{{sentence}}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ], 2000);
    };

    var Carousel = function(slides) {


      var _self = this;

      this.slides = [];
      this.playlist = [];
      this.playlistCursor = 0;
      this.currentLoading = -1;
      this.currentPlaying = -1;

      // there should be a better way.
      slides.each(function(d) {
        var slide = d3.select(this);
        _self.playlist.push(_self.slides.length);
        _self.slides.push({
          slide: slide,
          video: slide.select('video').attr('data-idx', _self.slides.length),
          ready: false
        });

      });


      this.shuffle = function(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
      }

      this.fadeIn = function(idx) {
        console.log('%c [Carousel]', 'background: cyan', 'fadeIn - index: ', idx);
        _self.currentLoading = idx;
        _self.player = _self.slides[idx].video.node();
        _self.player.load();
        _self.player.addEventListener('loadeddata', _self.onLoadeddata);
      }

      this.onLoadeddata = function() {
        // this now refer to event target, a html5 video object.
        var idx = parseInt(this.getAttribute('data-idx'));
        var video = this;
        console.log('%c [Carousel]', 'background: cyan', '@onLoadeddata - duration:', video.duration, '- index:', idx);

        if(_self.currentPlaying !== -1 && _self.currentPlaying !== idx) {
          // fadeOut previous slide
          console.log('%c [Carousel]', 'background: cyan', '@onLoadeddata - fading out idx:',_self.currentPlaying);
          _self.fadeOut(_self.currentPlaying);
        }

        // attach event addEventListener
        video.addEventListener('ended', _self.onEnded);

        // fade in current slide
        _self.slides[idx].slide
          .style('display', 'block');


        // then fadeIn slide.
        if(_self.currentPlaying !== -1) {
          _self.slides[idx].slide
            .transition()
              .duration(750)
              .style('opacity', 1);
        } else {
          _self.slides[idx].slide
            .style('opacity', 1);
        }
        console.log('%c [Carousel]', 'background: cyan', '@onLoadeddata - now playing...', idx)
        // then play video
        this.play();
        // store the playing index
        _self.currentPlaying = idx;

      }

      this.fadeOut = function(idx) {
        console.log('%c [Carousel]', 'background: cyan', 'fadeOut - index: ', idx);
        // stop video at desired index, then fade out.
        // _self.slides[idx].video.node().stop();

        // crossfadeout
        _self.slides[idx]
          .slide
            .transition()
            .duration(750)
            .style('opacity', 0)
            .on("end",function(d){
              console.log('%c [Carousel]', 'background: cyan', 'fadeOut - index: ', idx, 'it\'s gone for good.');
              _self.slides[idx]
                .slide
                  .style('display', 'none');
            });
      }

      this.onEnded = function() {
        var idx = parseInt(this.getAttribute('data-idx'));
        var video = this;
        console.log('%c [Carousel]', 'background: cyan', '@onEnded - duration:', video.duration, '- index:', idx, _self.currentPlaying, _self.currentLoading);

        // remove event listener only if a new one hasn't been loaded yet.
        if(_self.currentPlaying === idx) {
          console.log('%c [Carousel]', 'background: cyan', '@onEnded - stop Repeating');
          video.removeEventListener('ended', _self.onEnded);
        }
        if(_self.currentLoading === idx) {
          // load next video in the meanwhile
          var nextIdx = _self.playlist.indexOf(idx) + 1;
          if(nextIdx > _self.slides.length - 1) {
            nextIdx = 0;
          }
          console.log('%c [Carousel]', 'background: cyan', '@onEnded - next item in playlist:', _self.playlist[nextIdx], _self.playlist);

          // back to origin or next in playlist.
          _self.fadeIn(_self.playlist[nextIdx]);
        }

        // loop again!
        video.play();
      }

      // shuffle
      this.playlist = this.shuffle(this.playlist);
      // the start looop
      console.log('%c [Carousel]', 'background: cyan', 'init carousel playlist: ',  this.playlist);
      this.fadeIn(this.playlist[0]);
    };




    document.addEventListener("DOMContentLoaded", function(e) {
      initTxtType();
      new Carousel(d3.select('#index--slide-wrapper').selectAll('.slide'));
    })

</script>
