---
layout: default
---
{% assign headline = page.content | split: site.excerpt_separator | first | markdownify | replace: '<p>', '' | replace: '</p>', ''  %}
{% assign units = site.units | where:"layout","unit" | where:"lang", page.lang | sort: 'order' %}

{% assign videos = page.videos %}
<div id='index--slide-wrapper' class='wrapper with-gradient' style='height: 89%'>
  <div class='slide-background'></div>

  {% for video in videos %}
  {% assign pos = forloop.index | modulo: 2 %}

  <div class='slide' id='index--slide-{{video.id}}' dep='{% if pos == 0 %} even {% else %} odd {% endif %}'>
    <video autoplay muted poster="{{ 'assets/videos'| relative_url }}/{{ video.id }}/poster.jpg" >
      <source src="{{ 'assets/videos'| relative_url }}/{{ video.id }}/source.mp4" type="video/mp4">
      <source src="{{ 'assets/videos'| relative_url }}/{{ video.id }}/source.webm" type="video/webm">
      <source src="{{ 'assets/videos'| relative_url }}/{{ video.id }}/source.ogv" type="video/ogg">
    </video>
    <div class='overlay'></div>
    <div class='overlay-dotted'></div>
    <figcaption>
      <div class='container'>
        <div class='row'>
          <div class='col-sm-6 ml-auto'>
            {{video.caption | markdownify}}
          </div>
        </div>
      </div>
    </figcaption>
  </div>
  {% endfor %}

  <!-- <div class='slide' style='background-image: url({{ 'assets/images/bs-30-11-DW-Kultur-Salzburg-jpg.jpg' | relative_url }}); background-size:cover'></div> -->
  <div id='index--headline-wrapper'>
    <div class='container'>
      <h2 id="index--headline"></h2>
    </div>
  </div>


</div>

<div id='index--units-wrapper' class='wrapper bt-glitch'>
  <div class='wrapper-bait'>
    {% assign key="list of lessons" %}{% include t.html %}
  </div>
  <div class='container'>
    <section class="row">
        {% for card in units limit: 4 %}
          <div class='col-sm-6'>
            {% include card.html %}
          </div>
        {% endfor %}

    </section>
    <a href='{{ relative_url }}/teaching-modules' class="btn btn-block btn-primary btn-more">{% assign key='more lessons' %}{% include t.html %}</a>

  </div>
</div>

<script>
    var carousel;
    var TxtType = function(el, sentences, period) {
      this.sentences = sentences;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
      this.next = '';
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.sentences.length;
        var fullTxt = this.sentences[i];
        var nextIdx = i + 1 > this.sentences.length - 1? 0: i + 1;

        if (this.isDeleting) {
          this.txt = fullTxt.substring(0, this.txt.length - 1);

        } else {
          this.txt = fullTxt.substring(0, this.txt.length + 1);
        }
        var next = this.sentences[nextIdx].substring(0, this.txt.length);

        // console.log(this.txt,'\n', next);
        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 100 - Math.random() * 50;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
          delta = this.period;
          this.isDeleting = true;
        } else if (this.isDeleting && (this.txt === '' || this.txt === next)) {
          this.isDeleting = false;
          this.loopNum++;
          delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    function initTxtType() {
      console.log('@DOMContentLoaded: initTxtType()');
      new TxtType(document.getElementById('index--headline'), [
        {% for sentence in page.sentences %}
        "{{sentence}}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ], 2000);
    };

    var Carousel = function(slides) {


      var _self = this;

      this.slides = [];
      this.idx = -1;

      // there should be a better way.
      slides.each(function(d) {
        var slide = d3.select(this);
        _self.slides.push({
          slide: slide,
          video: slide.select('video')
        });
      });


      this.shuffle = function(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
      }

      this.play = function() {
        // if(_self._play_timer) {
        //   clearTimeout(_self._play_timer);
        // }
        _self.idx++;
        if(_self.idx > _self.slides.length - 1) {
          _self.idx = 0;
        }
        console.log('index', _self.idx, _self.slides);
        if(_self.playingSlide){
          _self.playingSlide.style('display', 'none');
        }
        _self.playingSlide = _self.slides[_self.idx].slide;
        _self.playingSlide.style('display', 'block');

        _self.player = _self.slides[_self.idx].video.node();
        _self.player.load();
        //console.log(duration)
        console.log('node', _self.player);
        _self.player.addEventListener('ended', _self.onVideoEnded);
        // _self._play_timer = setTimeout(_self.play, 5000);
      }

      this.onVideoEnded = function() {
        console.log('index', _self.idx, '@ended');
        _self.player.removeEventListener('ended', _self.onVideoEnded);
        _self.play();
        //_self.videos[_self.idx].node().removeEventListener('ended', _self.next);
      }

      // shuffle
      this.slides = this.shuffle(this.slides);
      this.play();
    };

    function initCarousel() {
      console.log('@DOMContentLoaded: initCarousel()');
      carousel = new Carousel(d3.select('#index--slide-wrapper').selectAll('.slide'));
    }

    function playCarousel() {

    }

    document.addEventListener("DOMContentLoaded", function(e) {
      initTxtType();
      initCarousel();
    })

</script>
