---
layout: default
---
{% assign components = site.units|where:"parent",page.slug| sort: 'type'  %}
{% assign clips = components|where:"type","clip" %}
{% assign lessons = components|where:"type","lesson" %}

    

<!-- main container -->
<div class='container'>
  <div class='row'>
    <div class='col-sm-8'>
  <div class='page unit'>
    <h1>{{page.title}}</h1>
    {{page.tags}}
    {% assign paragraphs = page.content | split: site.excerpt_separator %}
    <div>{{paragraphs[0] | markdownify}}</div>

    
    
    
    
    
  </div>
    </div>
  </div>
</div>

{% for component in clips %}
  {% include component.html %}
{% endfor %}

<div class='component-wrapper introduction scrollspy'>
<div class='container'>
  <div class='row'>
    <div class='col-sm-8'>
      <div class='page'>
        <div class='contents' id="contents">
          {{paragraphs[1] | markdownify}}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% for component in lessons %}
  {% include component.html %}
{% endfor %}



<!-- table of contents contaier -->
<div id='table-of-contents-wrapper'>
<div class='container' >
  <div class='row'>
    <div class='col-sm-4 ml-auto'>
      <!-- ToC -->
      <h4> table of contents </h4>
      <ul>
      {% for component in clips %}
        <li>
          <div class='lines'>
            <div class="group">
            <div class="line left"></div>
            <div class="line right"></div>
            </div>
          </div>
          <a><span>{{component.title}}</span></a>
        </li>
      {% endfor %}
        <li>
          <div class='lines'>
            <div class="group">
            <div class="line left"></div>
            <div class="line right"></div>
            </div>
          </div>
        <a><span>introduction</span></a>
        </li>
      {% for component in lessons %}
        <li>
          <div class='lines'>
            <div class="group">
            <div class="line left"></div>
            <div class="line right"></div>
            </div>
          </div>
        <a><span>{{component.title}}</span></a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
</div>