---
layout: default
---
{% assign paragraphs = page.content | split: site.excerpt_separator %}

<div class='wrapper'>
  <div class='in-the-background' style='position:absolute; top:0; right:0; left:0; bottom:0; z-index:0'>
    <div class="slide-background" {% if page.cover.url %} style='background-size:cover;background-image:url({{cover_url}})'{% endif %}></div>
    <div class='slide' style="display:block; opacity:1">
      <div class="overlay"></div>
      <div class="overlay-dotted"></div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <div class='page mb-2'>
          <h1>
            <span>{{ page.title | markdownify | replace: '<p>' | replace: '</p>'}}</span>
          </h1>
          <div class="excerpt mb-5">
            {{paragraphs | first | markdownify}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class='container mt-4'>
  <div class="row">
    {% assign units = site.units|where:"layout","unit"|where:"lang", page.lang %}
    {% for card in units%}
    <div class='col-md-6 col-lg-4'>
    {% include card.html %}
    </div>
    {% endfor %}
  </div>
</div>

<div class='container'>
  <div class='contents mt-5' id="contents">
  {{paragraphs | last | markdownify}}
  </div>
</div>
